# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/

# Xcode user and build data
DerivedData/
dist/*
!dist/MilkTeaPet-*-macOS-universal.zip
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
